:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background: #CAF0F8;
}

header {
  width: 100%;
  background: linear-gradient(135deg, #00B4D8, #023E8A);
  color: #ADE8F4;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 4px 8px #03045E;
}

header h1 {
  margin: 0;
  font-size: 2rem;
  letter-spacing: 1px;
}

main {
  padding: 20px;
  display: flex;
  justify-content: center;
}

#liste-piscines {
  list-style: none;
  padding: 0;
  width: 80%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.piscine {
  background: #90E0EF;
  width: 90vw;
  border: 2px solid #0077B6;
  border-radius: 18px;
  padding: 18px;
  box-shadow: 0 2px 6px #03045E;
  font-size: 1.1rem;
  line-height: 1.4rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.piscine:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px #03045E;
}

.hidden {
  display: none;
}
.dropdown-content {
  margin-top: 10px;
  padding: 10px;
  background: #eef9ff;
  border-radius: 10px;
}


@media (min-width: 768px) {
  #liste-piscines {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
  }
}